[submodule "src/xCoreSDK-CPP"]
	path = src/xCoreSDK-CPP
	url = https://github.com/RokaeRobot/xCoreSDK-CPP.git
[submodule "src/xCoreSDK-Python"]
	path = src/xCoreSDK-Python
	url = https://github.com/RokaeRobot/xCoreSDK-Python.git
[submodule "src/tidybot2"]
	path = src/tidybot2
	url = https://github.com/HuangJunkai2023/tidybot2.git
